.carrossel{
  max-width:75%;
  margin: 0 auto;
  max-height: 500px;
  max-width: 500px;
}

.carousel-item {
  max-height: 500px;
  max-width: 500px;
}

.redes-sociais{
  float: right;
}

.redes-sociais svg{
  margin-right: 20px;
  transform: scale(2);
}

.titulo_principal, .titulo_sobre_nos, .titulo_secundario {
  color: orange;
  text-align:center;
}

.titulo_principal {
  margin-top: 50px;
  margin-bottom: 10px;
}

.cor-fundo-laranja {
  background-color: #ffebcc;
}

.fonte-menu {
  font-size: 1.6em;
}