<!doctype html>
<html lang="pt-BR">
  <div>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top cor-fundo-laranja">
          <!-- <span class="navbar-brand mb-0 h1">Menu</span> -->
          <a href="/home">
            <img src="{{ url_for('static', filename='images/logo.png')}}" style="max-width: 200px;">
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if active_tab == 'home' %}active{% endif %}">
                  <a class="nav-link fonte-menu mr-5" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if active_tab == 'instituicoes' %}active{% endif %}">
                  <a class="nav-link fonte-menu mr-5" href="/instituicoes">Instituições</a>
                </li>
                <li class="nav-item {% if active_tab == 'contato' %}active{% endif %}">
                  <a class="nav-link fonte-menu mr-5" href="/contato">Contato</a>
                </li>
                {% if mostrar_categorias %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fonte-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for categoria in categorias %} 
                        <a class="dropdown-item" href="/instituicoes?categoria_id={{categoria['id']}}">{{categoria['nome']}}</a>
                      {% endfor %}
                    </div>
                  </li>
                {% endif %}
              </ul>
              {% if mostrar_categorias %}
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" value="{{nome or ''}}" name="nome" placeholder="Pesquisar" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar
                  </button>
                </form>
              {% endif %}
            </div>
          </nav>

        <h1 class="titulo_principal" style="margin-top: 180px;">{% block titulo %} {% endblock %}</h1>
        <h4 class="titulo_secundario mb-5 mt-4">Escolha quem e como ajudar</h4>
        {% block content %} {% endblock %}

        <div class="text-center p-4 cor-fundo-laranja">
          © {{ now.year }} Copyright
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </div>
</html>