{% extends "base.html" %}

{% block title %}Portal Solidário de Araraquara{% endblock %}
{% block titulo %} Portal Solidário de Araraquara {% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <section class="section-preview">

        <!--Section: Contact v.2-->
        <section class="mb-4">

            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Cadastro de Instituições</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5 lead">
                Para cadastrar uma nova instituição preencha os campos abaixo.
            </p>

            {% if errors %}
              {% for error in errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              {% endfor %}
            {% endif %}

            <div class="row">

                <!--Grid column-->
                <div class="col-md-12 mb-md-0 mb-5">
                    <form id="contact-form" name="formulario-cadastro" method="POST" action="/cadastro">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="nome" class="">Nome</label>
                                    <input aria-label="Informe o nome" type="text" id="nome" name="nome" class="form-control" value="{{request.form['nome']}}" required>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="cnpj" class="">CNPJ</label>
                                    <input aria-label="Informe o cnpj" type="text" id="cnpj" name="cnpj" class="form-control" value="{{request.form['cnpj']}}" required onKeyPress="formataCampo(this, '00.000.000/0000-00');">
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mt-3">
                                    <label for="descricao" class="">Descrição</label>
                                    <textarea aria-label="Informe a descrição" id="descricao" name="descricao" class="form-control" required>{{request.form['descricao']}}</textarea>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form mt-3">
                                    <label for="categoria" class="">Categoria</label>
                                    <select aria-label="Informe a categoria" id="categoria" name="categoria" class="form-control" required>
                                        {% for categoria in categorias %}
                                            <option value="{{categoria.id}}" {% if request.form['categoria'] == categoria.id %}selected{% endif %}>
                                                {{categoria.nome}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                        
                        <div id="endereco">
                            <h3 class="mb-3 mt-3">Endereço</h3>

                            <div id="cep-nao-encontrado-erro" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
                                CEP não encontrado
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="md-form mt-3">
                                        <label for="cep">CEP</label>
                                        <div style="display: flex; justify-content: space-between; align-items: center;">
                                            <input aria-label="Informe o cep" id="cep" type="text" name="cep" class="form-control col-md-9" value="{{request.form['cep']}}" onKeyPress="formataCampo(this, '00.000-000')" maxlength="10" />
                                            <i class="bi bi-search" class="col-md-3" style="font-size: 1.5rem; cursor: pointer;" onclick="buscarCep()"></i>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-8">
                                    <div class="md-form mt-3">
                                        <label for="rua">Rua/Avenida</label>
                                        <input aria-label="Informe a rua ou avenida" id="rua" type="text" name="rua" class="form-control" value="{{request.form['rua']}}" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="md-form mt-3">
                                        <label for="numero">Número</label>
                                        <input aria-label="Informe o número do endereço" id="numero" type="text" name="numero" class="form-control" value="{{request.form['numero']}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="bairro">Bairro</label>
                                        <input aria-label="Informe o bairro" id="bairro" type="text" name="bairro" class="form-control" value="{{request.form['bairro']}}" />
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="cidade">Cidade</label>
                                        <input aria-label="Informe a cidade" id="cidade" type="text" name="cidade" class="form-control" value="Araraquara" readonly />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="md-form mt-3">
                                        <label for="estado">Estado</label>
                                        <select aria-label="Informe o estado" id="estado" name="estado" class="form-control" readonly>
                                            <option value="SP" selected>São Paulo</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="md-form mt-3">
                                        <label for="pais">País</label>
                                        <select aria-label="Informe o país" id="pais" name="pais" class="form-control" readonly>
                                            <option value="Brasil" selected>Brasil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mt-3">
                                        <label for="complemento">Complemento</label>
                                        <input aria-label="Informe o complemento" id="complemento" type="text" name="complemento" class="form-control" value="{{request.form['complemento']}}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mt-3">
                                    <input type="hidden" name="exibirEndereco" value="S" />
                                    <input onchange="onChangeExibirEndereco(this)" id="exibirEnderecoContainer" type="checkbox" name="exibirEnderecoContainer" value="S" checked />
                                    <label for="exibirEnderecoContainer">Informar endereço</label>
                                </div>
                            </div>
                        </div>

                        <div id="contato">
                            <h3 class="mb-3 mt-3">Contato</h3>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="telefone_comercial">Telefone Comercial</label>
                                        <input aria-label="Informe o telefone comercial" id="telefone_comercial" type="text" name="telefone_comercial" class="form-control" value="{{request.form['telefone_comercial']}}" onKeyPress="formataCampo(this, '(00) 0000-000');"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="telefone_celular">Telefone Celular</label>
                                        <input aria-label="Informe o telefone celular" id="telefone_celular" type="text" name="telefone_celular" class="form-control" value="{{request.form['telefone_celular']}}" onKeyPress="formataCampo(this, '(00) 00000-000');" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="email">E-mail</label>
                                        <input aria-label="Informe o email" id="email" type="email" name="email" class="form-control" value="{{request.form['email']}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="site">Site</label>
                                        <input aria-label="Informe o site" id="site" type="text" name="site" class="form-control" value="{{request.form['site']}}" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="instagram">Instagram</label>
                                        <input aria-label="Informe o instagram" id="instagram" type="text" name="instagram" class="form-control" value="{{request.form['instagram']}}" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="md-form mt-3">
                                        <label for="facebook">Facebook</label>
                                        <input aria-label="Informe o facebook" id="facebook" type="text" name="facebook" class="form-control" value="{{request.form['facebook']}}" />
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" name="twitter" value="" />
                                    <input type="hidden" name="linkedin" value="" />
                                    <input type="hidden" name="youtube" value="" />
                                </div>
                            </div>
                        </div>

                        <div class="text-center text-md-left mt-3">
                            <input type="submit" class="btn btn-primary" value="Enviar" style="background-color: #ffa500; border: none; color: rgba(0,0,0,.9);" />
                        <div id="status"></div>

                    </form>

                </div>
                <!--Grid column-->

            </div>

        </section>
        <!--Section: Contact v.2-->

    </section>
</div>
<script>
    var ruaInput = document.querySelector('#rua');
    var bairroInput = document.querySelector('#bairro');
    var cepNaoEncontradoErro = document.querySelector('#cep-nao-encontrado-erro');

    function onChangeExibirEndereco(ctx) {
        var enderecoHidden = document.querySelector('[name="exibirEndereco"]');
        var enderecoContainer = document.querySelector('#endereco');

        if (ctx.checked) {
            enderecoHidden.value = 'S';
            enderecoContainer.style.display = 'block';
        } else {
            enderecoHidden.value = 'N';
            enderecoContainer.style.display = 'none';
        }
    }

    function buscarCep() {
        var cep = document.querySelector('#cep');

        if (cep.value.length !== 10) {
            alert('CEP inválido');
            return;
        }

        var cepApenasNumeros = cep.value.replace(/\D/g, '');
        var url = 'http://viacep.com.br/ws/' + cepApenasNumeros + '/json/';

        fetch(url)
            .then(function(resposta) {
                return resposta.json();
            })
            .then(function(resposta) {
                if (resposta.erro) {
                    ruaInput.value = '';
                    bairroInput.value = '';
                    cepNaoEncontradoErro.style.display = 'block';
                } else {
                    ruaInput.value = resposta.logradouro;
                    bairroInput.value = resposta.bairro;
                    cepNaoEncontradoErro.style.display = 'none';
                }
            });
    }

    function formataCampo(campo, Mascara) {
        var er = /[^0-9/ (),.-]/;
        er.lastIndex = 0;
    
        if (er.test(campo.value)) {///verifica se é string, caso seja então apaga
            var texto = $(campo).val();
            $(campo).val(texto.substring(0, texto.length - 1));
        }
        var boleanoMascara;
        var exp = /\-|\.|\/|\(|\)| /g
        var campoSoNumeros = campo.value.toString().replace(exp, "");
        var posicaoCampo = 0;
        var NovoValorCampo = "";
        var TamanhoMascara = campoSoNumeros.length;
        for (var i = 0; i <= TamanhoMascara; i++) {
            boleanoMascara = ((Mascara.charAt(i) == "-") || (Mascara.charAt(i) == ".")
                    || (Mascara.charAt(i) == "/"))
            boleanoMascara = boleanoMascara || ((Mascara.charAt(i) == "(")
                    || (Mascara.charAt(i) == ")") || (Mascara.charAt(i) == " "))
            if (boleanoMascara) {
                NovoValorCampo += Mascara.charAt(i);
                TamanhoMascara++;
            } else {
                NovoValorCampo += campoSoNumeros.charAt(posicaoCampo);
                posicaoCampo++;
            }
        }
        campo.value = NovoValorCampo;
        ////LIMITAR TAMANHO DE CARACTERES NO CAMPO DE ACORDO COM A MASCARA//
        if (campo.value.length > Mascara.length) {
            var texto = $(campo).val();
            $(campo).val(texto.substring(0, texto.length - 1));
        }
        //////////////
        return true;
    }
</script>
{% endblock %}