{% extends "base.html" %}

{% block title %}Portal Solidário de Araraquara{% endblock %}
{% block titulo %} Portal Solidário de Araraquara {% endblock %}

{% block content %}
  <div class="carrossel" style="min-height: 300px; display: flex; justify-content: center;">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for img in imgs %} 
          <li data-target="#carouselExampleCaptions" data-slide-to="{{img['index']}}" class="{% if img['index']=='0' %} active{% endif %}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for img in imgs %} 
          <div class="carousel-item{% if img['index']==0 %} active{% endif %}">
            {% if img['src'] %}
              <a href="/instituicoes?categoria_id={{img['categoria_id']}}">
                <img src="{{img['src']}}" class="d-block w-100" alt="..." style="max-height: 300px; max-width: 300px;">
              </a>
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
              <h5 class= "text-dark" aria-label="{{img['name']}}">{{img['name']}}</h5>
              <p aria-label="{{img['name']}}"></p>
            </div>       
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <h1 class="jumbotron-heading titulo_sobre_nos">Sobre nós</h1>
    <p class="lead" style="text-align: justify;">O Portal Solidário de Araraquara é uma iniciativa de um grupo de estudantes da UNIVESP de Araraquara com o objetivo de conectar as instituições filantrópicas da cidade com as pessoas que querem fazer o bem e ajudar quem precisa. Para isso, o Portal apresenta diversas instituições existentes, suas principais atividades e os links para contato através dos sites e redes sociais. As instituições estão separadas por categorias, para permitir que as pessoas acessem o portal e escolham a forma de contribuir com a qual melhor se identifica.
      Navegue pelas instituições e escolha sua forma de contribuir para uma cidade melhor!</p>
  </div>
{% endblock %}