{% extends "base.html" %}

{% block title %}Portal Solidário de Araraquara{% endblock %}
{% block titulo %} Portal Solidário de Araraquara {% endblock %}

{% block content %}
  <div class="carrossel" style="min-height: 500px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for img in imgs %} 
          <li data-target="#carouselExampleCaptions" data-slide-to="{{img['index']}}" class="{% if img['index']=='0' %} active{% endif %}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for img in imgs %} 
          <div class="carousel-item{% if img['index']==0 %} active{% endif %}">
            {% if img['src'] %}
              <img src="{{img['src']}}" class="d-block w-100" alt="...">
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
              <h5 class= "text-dark">{{img['name']}}</h5>
              <p></p>
            </div>       
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <h1 class="jumbotron-heading titulo_sobre_nos">Sobre nós</h1>
    <p class="lead text-muted" style="text-align: justify;">O Portal Solidário de Araraquara é uma iniciativa de um grupo de estudantes da UNIVESP de Araraquara com o objetivo de conectar as instituições filantrópicas da cidade com as pessoas que querem fazer o bem e ajudar quem precisa.
      Para que isso aconteça, o portal apresenta diversas instituições existentes, suas principais atividades, quais as formas de doação e voluntariado possíveis de serem realizadas e seus contatos.
      As instituições estão separadas por área de atuação, para permitir que as pessoas acessem o portal e escolham a forma de contribuir com a qual melhor se identifica.
      Navegue pelas instituições e escolha agora mesmo como você vai fazer a diferença na construção uma cidade melhor!</p>
  </div>
{% endblock %}