{% extends "base.html" %}

{% block title %}INSTITUIÇÕES{% endblock %}
{% block titulo %} INSTITUIÇÕES {% endblock %}

{% block content %}
    <div class="card-columns">
        {% for instituicao in instituicoes %} 
            <div class="card">
                <img src="{{instituicao['logo']}}" class="card-img-top" alt="Nosso Ninho">
                <div class="card-body">
                    <h5 class="card-title">{{instituicao['name']}}</h5>
                    <p class="card-text">{{instituicao['description']}}</p>
                    <a href="{{instituicao['site']}}" class="btn btn-primary">Visite nosso site!</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}