{% extends "base.html" %}

{% block title %}INSTITUIÇÕES{% endblock %}
{% block titulo %} INSTITUIÇÕES {% endblock %}

{% block content %}
<div class="card-columns">
    <div class="card">
        <img src="{{url_for('static', filename='images/nosso ninho 1.jfif')}}" class="card-img-top" alt="Nosso Ninho">
        <div class="card-body">
            <h5 class="card-title">Nosso Ninho</h5>
            <p class="card-text">O lar Nosso Ninho nasceu da sensibilidade da Sra. Abigail Machado Callera, que ao ver crianças abandonadas perambulando pelas ruas da cidade em situação de risco, carentes, negligenciadas, e portadoras de deficiências físicas e emocionais, decidiu acolhe-las em sua casa, com isso deu a elas a chance de conseguir condições melhores de vida como educação, alimentação, vestuário e abrigo.

                Em 10 de janeiro de 1963 nasce o “LAR NOSSO NINHO”, abrigo especial para crianças especiais, fundado pela Sra. Abigail, tornando uma sociedade civil, de caráter filantrópico e beneficente, sem fins lucrativos, sua primeira sede era na Rua Carlos Gomes, no Bairro São José, em Araraquara.
                
                Decorrido os anos entidade sofreu uma série de mudanças, desde sua condição física, até mesmo em termos de equipe técnica.
                
                Em 1978, iniciou-se a construção de novo prédio, situado à Rodovia Manoel de Abreu, Km 2, Bairro Vila Velosa, em Araraquara, e em 1980, o Nosso Ninho foi definitivamente transferido da antiga sede para a atual.
                
                Na medida em que os recursos financeiros foram permitindo, pode-se ampliar o espaço físico, construindo salas de aula, oficinas, etc., sempre com a ideia de melhorar o ambiente.
                
                Atualmente a Entidade possui diversas atividades, atendendo crianças e adolescentes do sexo masculino, portadores de deficiências nos graus leve e moderado, sem comprometimento psiquiátrico.</p>
            <a href="https://nossoninho.com.br/" class="btn btn-primary">Visite nosso site!</a>
        </div>
    </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/bebe a bordo.jpg')}}" class="card-img-top" alt="Bebê a Bordo">
            <div class="card-body">
                <h5 class="card-title">Bebê a Bordo</h5>
                <p class="card-text">A Associação para Mulheres Bebê a Bordo de Araraquara é uma organização sem fins lucrativos, que tem como finalidade apoiar e trabalhar na promoção dos direitos e deveres das mulheres gestantes e nutrizes.

                    A presente instituição nasceu em 18 de agosto de 2008, através de um grupo de pessoas que observou a necessidade e a carência da situação das mulheres gestantes a terem acesso a informações e orientações básicas sobre a maternidade. A instituição acredita que gerar uma vida é algo muito especial e de grande responsabilidade, e que essas vidas farão grande diferença no futuro.
                    
                    
                    
                    A instituição tem como missão promover a importância e a responsabilidade da maternidade, através de orientação e acompanhamento das gestantes.</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='images/ong.png')}}" class="card-img-top" alt="ONG">
            <div class="card-body">
                <h5 class="card-title">ONG</h5>
                <p class="card-text">QUEM SOMOS</p>
                <a href="URL" class="btn btn-primary">Visite nosso site!</a>
            </div>
        </div>
</div>
{% endblock %}